 body 
 {
     padding: 0;
     margin: 0;
     font-family: sans-serif;
 }

.logo img
 {
    width: 165px;
    height: 45px;
 }

.header
 {
    padding: 20px 50px ;
    position: relative;
    z-index: 10;
 }

 .wrapper 
 {
     background-image: url(./wrapper.jpg);
     height: 100vh;
     background-image: cover;
     background-repeat: no-repeat;
     position: relative;
     width: 100%;
 }

 .wrapper::before
 {
     content: "";
     background: rgba(0, 0, 0, 0.5);
     width: 100%;
     height: 100%;
     top: 0;
     bottom: 0;
     position: absolute;
 }

 .login-body
 {
     padding: 60px 68px 40px;
     z-index: 90;
     position: relative;
     max-width: 450px;
     height: 630px;
     margin-left: 50%;
     background: rgba(0, 0, 0, 0.75);
     border-radius: 5px;
     box-sizing: border-box;
     transform: translateX(-50%);
 }

 .login-body h2
 {
     color: #fff;
     font-size: 32px;
     margin-top: 0;
 }

 .login-body input
 {
     height: 50px;
     width: 100%;
     border-radius: 5px;
     color: #fff;
     background: #333;
     border: 1px solid #333;
     padding-left: 15px;
     box-sizing: border-box;
     font-size: 15px;
 }

 .input-wrap
 {
     margin-bottom: 16px;
 }

 .login-body button
 {
    font-size: 16px;
    font-weight: 700; 
    height: 50px;   
    width: 100%;
    background-color: #e50914;
    color: white;
    outline: none;
    border: 1px solid #e50914;
    border-radius: 5px;
    margin-top: 24px
 }

 .support
 {
    display: flex; 
    color: #b3b3b3;
    justify-content: space-between;
    font-size: 12px;
 }

.support input
{
    width: 15px;
    height: 15px;
}


 .onthouden
 {
     display: flex;
     align-items: center;
 }

 .onthouden span
 {
     margin-right: 10px;
     margin-left: 5px;
     height: 25px;
 }

 .onthouden span input
 {
    margin: 0; 
    margin-left: -5px; 
    padding:0; 
    height:13px; 
    position: absolute;
 }

.login-footer
{
    margin-top: 25px;
}



 .login-fb
 {
     display: flex;
     align-items: center;
     width: 100%;
     color: #737373;
 }

 .login-fb img{
     width: 20px;
     height: 20px;
 }

 .login-fb span
 {
     margin-right: 10px;
     font-size: 13px;
 }

 .login-fb span a
 {
     text-decoration: none;
     color: #737373;
 }

 .registreer
 {
    color: #737373;
    font-size: 16px;
 }

 .registreer a 
 {
     color: #fff;
     font-weight: 500;
     font-size: 15px;
     text-decoration: none;
 }

 .terms
 {
     font-size: 13px;
     color: #737373;
 }

 .terms a
 {
    text-decoration: none;
    color: #0071eb
 }